<h1>Info about <%= @doctor.name %></h1>

<div id="doctor-info">
  <p>Doctor's Name: <%= @doctor.name %></p>
  <p>Doctors Field of Specialty: <%= @doctor.specialty %></p>
  <p>University where they got their Doctorate: <%= @doctor.university %></p>
</div>